$black: #000000;
$white: #FFFFFF;
$silver-chalice: #AAAAAA;
$cod-grey: #1A1A1A;
$mine-shaft: #2B2B2B;


$footer-bg: $mine-shaft;
$title-color: $cod-grey;
$secondary-title-color: $black;
$main-text-color: $silver-chalice;
$secondary-text-color: $white;

$sans-serif-font: 'Roboto', sans-serif;

$base-font: $sans-serif-font;

$base-font-size: 16px;

$base-line-height: 24px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1050px;
$footer-desktop-width: 1250px;